{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{messages[-1]}}")
    </script>
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>만남의 역사</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}?v=1.0" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/station.js') }}?v=1.0"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}?v=1.0"></script>
        <a href="https://www.flaticon.com/kr/free-icons/" title="기차역 아이콘">기차역 아이콘 제작자: bearicons - Flaticon</a>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{ url_for('user_page.index') }}">서울 지하철역</a>`
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">9호선</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                소통의 역사
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='고속터미널') }}">고속터미널</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='사평') }}">사평</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='신논현') }}">신논현</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='언주') }}">언주</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='선정릉') }}">선정릉</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='삼성중앙') }}">삼성중앙</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='봉은사') }}">봉은사</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='종합운동장') }}">종합운동장</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='삼전') }}">삼전</a>
                                    <a class="nav-link" href="{{ url_for('info_board.info_board_list', station='석촌고분') }}">석촌고분</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                거래의 역사
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='고속터미널') }}">고속터미널</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='사평') }}">사평</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='신논현') }}">신논현</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='언주') }}">언주</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='선정릉') }}">선정릉</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='삼성중앙') }}">삼성중앙</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='봉은사') }}">봉은사</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='종합운동장') }}">종합운동장</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='삼전') }}">삼전</a>
                                    <a class="nav-link" href="{{ url_for('deal_board_page.deal_board_list_service', station='석촌고분') }}">석촌고분</a>                                
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: <strong>{{ session['user_id'] }}</strong></div>
                        {{ session['user_name'] }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">