{% include 'include/header.html' %}
<style>
    .clickable-row {
        cursor: pointer;
    }

    /* 테이블을 플렉스 박스로 설정 */
    #datatablesSimple {
        display: flex;
        flex-direction: column;
    }

    /* 헤더와 바디 행을 플렉스 컨테이너로 설정 */
    #datatablesSimple thead,
    #datatablesSimple tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* 각 행을 플렉스로 설정하여 열 비율을 제어 */
    #datatablesSimple tr {
        display: flex;
        width: 100%;
    }

    /* 각 열에 비율을 지정 */
    #datatablesSimple th:nth-child(1),
    #datatablesSimple td:nth-child(1) {
        flex: 1;
    }

    #datatablesSimple th:nth-child(2),
    #datatablesSimple td:nth-child(2) {
        flex: 10;
    }

    #datatablesSimple th:nth-child(3),
    #datatablesSimple td:nth-child(3),
    #datatablesSimple th:nth-child(4),
    #datatablesSimple td:nth-child(4),
    #datatablesSimple th:nth-child(5),
    #datatablesSimple td:nth-child(5),
    #datatablesSimple th:nth-child(6),
    #datatablesSimple td:nth-child(6) {
        flex: 2;
    }
</style>
<main>
    <h1>{{data.DEAL_BRD_CATE}} 거래 게시판</h1>
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <h2>{{data.DEAL_BRD_TITL}}</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 20%;">작성자</th>
                            <td>{{data.REGID}}</td>
                        </tr>
                        <tr>
                            <th>작성 시간</th>
                            <td>{{data.REGDT}}</td>
                        </tr>
                        <tr>
                            <th>이미지</th>
                            <td>
                                {% if data.DEAL_BRD_IMG_NAME == None or data.DEAL_BRD_IMG_NAME == '' or data.DEAL_BRD_IMG_NAME == '0'  %}
                                <image src="../../static/assets/img/default.jpg" width="414" height="300"
                                    object-fit="cover" />
                                {% else : %}
                                <image src="../../static/assets/img/{{data.DEAL_BRD_IMG_NAME}}" width="414" height="300"
                                    object-fit="cover" />
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>{{data.DEAL_BRD_CTNT}}</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>{{data.DEAL_BRD_PRICE}}</td>
                        </tr>
                        <tr>
                            <th>상태</th>
                            <td>
                                {% if data.DEAL_BRD_STATE == 'Y' %}
                                    판매중
                                {% else %}
                                    판매완료
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>조회수</th>
                            <td>{{data.HIT}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="card-footer d-flex justify-content-between">
                {% if session['user_id'] == data.REGID %}
                    <a href="/deal_board/upd?DEAL_BRD_NO={{data.DEAL_BRD_NO}}&station={{data.DEAL_BRD_CATE}}" class="btn btn-primary">수정하기</a>
                    <a href="/deal_board/del?DEAL_BRD_NO={{data.DEAL_BRD_NO}}&station={{data.DEAL_BRD_CATE}}" onclick="return confirm('정말 삭제하시겠습니까?')" class="btn btn-danger">삭제하기</a>
                {% endif %}    
                <a href="/deal_board/deal_board?station={{data.DEAL_BRD_CATE}}" class="btn btn-secondary">게시판으로 돌아가기</a> -->
                <div class="card-footer d-flex">
                    {% if session['user_id'] == data.REGID %}
                        <a href="/deal_board/upd?DEAL_BRD_NO={{data.DEAL_BRD_NO}}&station={{data.DEAL_BRD_CATE}}" class="btn btn-primary mr-2">수정하기</a>
                        <a href="/deal_board/del?DEAL_BRD_NO={{data.DEAL_BRD_NO}}&station={{data.DEAL_BRD_CATE}}" onclick="return confirm('정말 삭제하시겠습니까?')" class="btn btn-danger ml-auto">삭제하기</a>
                    {% endif %}    
                    <a href="/deal_board/deal_board?station={{data.DEAL_BRD_CATE}}" class="btn btn-secondary {% if session['user_id'] != data.REGID %}ml-auto{% endif %}">게시판으로 돌아가기</a>
                </div>
            </div>
            <br>
            <h2>댓글</h2>
            <div class="card-body">
                {% for row in cm_data: %}
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10%;">{{row['REGID']}}</th>
                            <td style="width: 75%">{{row['BRD_CMNT_CTNT']}}</td>
                            <td>작성시간: {{row['REGDT']}}</td>
                            <td>
                                {% if session['user_id'] == row['REGID'] %}
                                <a href="/deal_board/comment_del?BRD_CMNT_NO={{row['BRD_CMNT_NO']}}&station={{data.DEAL_BRD_CATE}}&DEAL_BRD_NO={{data.DEAL_BRD_NO}}" onclick="return confirm('정말 삭제하시겠습니까?')" class="btn btn-primary">삭제하기
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
            <div class="card-header">
                <i class="fas fa-edit me-1"></i>
                아이디 : {{session['user_id']}}
            </div>
            <form action="{{ url_for('deal_board_page.board_comment_reg_service',station=station) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="BRD_TYPE" id="BRD_TYPE" value="D">
                <input type="hidden" name="BRD_NO" id="BRD_NO" value="{{data.DEAL_BRD_NO}}">
                <input type="hidden" name="station" id="station" value="{{station}}">
                <div class="form-group mb-3">
                    <textarea class="form-control" id="BRD_CMNT_CTNT" name="BRD_CMNT_CTNT" rows="5" placeholder="내용을 입력하세요." required></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">작성 완료</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% include 'include/footer.html' %}