{% include 'include/header.html' %}
<br>

<main>
    <h1>{{station}} 거래 게시판</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for row in data: %}
            <form action="/deal_board/detail" method="post">
                <input type="hidden" name="station" value="{{station}}">
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/deal_board/detail?DEAL_BRD_NO={{row['DEAL_BRD_NO']}}&station={{station}}">
                            {% if row['DEAL_BRD_IMG_NAME'] == None or row['DEAL_BRD_IMG_NAME'] == ''  or row['DEAL_BRD_IMG_NAME'] == '0' %}
                            <image src="../../static/assets/img/default.jpg" width="414" height="300"
                                object-fit="cover" />
                            {% else : %}
                            <image src="../../static/assets/img/{{row['DEAL_BRD_IMG_NAME']}}" width="414" height="300"
                                object-fit="cover" />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{row['DEAL_BRD_TITL']}}</p>
                            <p class="card-text">{{'{0:,.0f}'.format(row['DEAL_BRD_PRICE'])}}원</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p class="'card-text">
                                        {% if row['DEAL_BRD_STATE'] == 'Y' %}
                                            판매중
                                        {% else %}
                                            판매완료
                                        {% endif %}
                                    </p>
                                </div>
                                <small class="text-muted">댓글 {{row['CMNTCNT']}} 조회수 {{row['HIT']}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
        <div class="text-end mt-3">
            <a href="/deal_board/reg?station={{station}}" class="btn btn-primary">글 작성하기</a>
        </div>
        <br>
    </div>
</main>
{% include 'include/footer.html' %}